{
  "env": {
    "node": true
  },
  "extends": [
    "../base/.eslintrc",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/prop-types": 0
  }
}
